<section class="task2 section-gap">
  <div class="container">
    <h2 class="title">Задание 2. Реализовать поворот изображения</h2>
    <div class="task2__content">
      <input type="file" id="fileInput" accept="image/png, image/jpeg" class="task2__input" />
      <canvas id="canvas" class="task2__canvas"></canvas>
      <div class="task2__btns">
        <button id="btn-90" class="task2__btn">90°</button>
        <button id="btn-180" class="task2__btn">180°</button>
        <button id="btn-270" class="task2__btn">270°</button>
        <button id="btn-save" class="task2__btn">Сохранить</button>
      </div>
    </div>
  </div>
</section>
